$('#<%= dom_id @artifact %>').fadeOut(1000)
/*$('#artifact_notice').html('<div class="alert alert-error"><button class="close" data-dismiss="alert">x</button><%= escape_javascript("Detele successfull!") %></div>')*/