<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="menu_left_ajax">
        <!--<div class="well sidebar-nav">-->
      <%= render :partial => 'layouts/menu_left' %>
        <!--</div>--><!--/.well -->
    </div><!--/span-->
    <!-- Menu left -->
        
    <div class="span9">
      <div class="well sidebar-nav">
        <div class="content">
          <div id="layout">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div><!--/row-->
  <!-- Content -->
</div>